@import "../../../styles/colors";

.movie-item {
  position: relative;
  display: block;
  min-height: 322px;
  border-radius: 5px;
  background-color: $bgColorLight;
  margin: 10px;

  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      // height: 480px;
      object-fit: cover;
    }
  }

  &-rating {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $bgColorLight;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    padding: 5px 10px;

    .material-symbols-outlined {
      margin-right: 6px;
      color: rgb(255, 130, 20);
    }
  }

  &-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 30px;
    // padding-bottom: 12px;
    padding: 20px;
  }
}
